:root {
  --color-primary: #ffffff;
  --color-text: #2d3748;
  --color-bg: rgb(232, 214, 225); 
  --text-primary: rgb(83, 11, 96); 
  --text-secondary: rgb(106, 82, 114);
  --color-light-gray: rgb(244, 239, 230);
}