.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 70%;

  &__angel-display {
    display: flex;
    width: 71.5%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  &__angel-img {
    object-fit: cover;
    width: 8rem;
    height: 6rem;

    &.reverse {
      transform: scaleX(-1);
    }
  }

  &__guest-letter {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40rem;
    align-items: center;
  }

  &__letter-title {
    color: var(--text-primary);
    font-size: 2.4rem;
    font-family: 600;
  }

  &__letter-par {
    color: var(--text-secondary);
    font-size: 1.6rem;
    font-family: 600;
    line-height: 2rem;
  }
}
